.editor-container {
  width: 1024px;
  margin: 0 auto;



  .dropdown-span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
  }
}