.login-wrapper {
  width: 1024px;
  margin: 100px auto;
  .login-container {
    width: 50%;
    margin: 100px auto;
    padding: 50px 50px 50px;
    border: 2px solid #bbb;
    border-radius: 10px;
  }
}